<header class="head">

  <h1 class="title">Shopping Cart</h1>
  <br>
  <nav>
    <div class='hamburger' ng-click='toggleClass()'>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class='clearfix menu'><h1>
      <li><a id='main' ui-sref="about">About Me</a></li>
      <li><a id='main' ui-sref="home">Home</a></li>
      <li><a id='main' ui-sref="contact">Contact Me</a></li>
    </h1></ul>
  </nav>

  <div ng-model="isUser" class = 'cart'>
    <div ng-hide='isUser'>
      <a ui-sref='signup' class = 'btn btn-default'>Register</a>
      <a href='/#/login' class = 'btn btn-default' >Login</a>
    </div>
    <div ng-show='isUser' ng-controller="logoutCtrl">
      <a ng-click='logout()' class="btn btn-default">Logout</a>
      <a ui-sref='profile' class = 'btn btn-default' >Profile</a>
      <a ui-sref='cart' class = 'btn btn-default'><ngcart-summary></ngcart-summary></a>
    </div>
  </div>
</header>

  <h3>Cart</h3>
  {{ inNgCart.getCart().items }}


<ngcart-cart></ngcart-cart>
  <div class="col-xs-4">
      <h2>Check-Out</h2>
      <ngcart-checkout service="paypal" settings="{paypal: {business: 'linkblade0@yahoo.com', item_name: 'Dream B '}}" ng-click= "makeOrder()" ></ngcart-checkout>
  </div>
