<header class="head">

  <h1 class="title">{{home.name}}</h1>
  <h3 class="subtitle">Watercolor art by Beth Johansen</h3>
  <br>
  <nav>
    <div class='hamburger' ng-click='toggleClass()'>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class='clearfix menu'><h1>
      <li><a id='main' ui-sref="about">About Me</a></li>
      <li><a ui-sref="contact">Contact Me</a></li>
    </h1></ul>
  </nav>

    <div ng-model="isUser">
      <div>
        <a href='/#/login' class = 'btn btn-default'>Login</a>
      </div>
      <div ng-controller="logoutCtrl">
        <a ng-click='logout()' class="btn btn-default">Logout</a>

        <a ui-sref='cart' class = 'btn btn-default'><ngcart-summary></ngcart-summary></a>
      </div>
    </div>
</header>


<div class="main">

  <div ng-repeat='img in image'>
    <img id='myImg' class='pics' ng-click='expand()' ng-src='../images/{{img.imgUrl}}'>


    <dir-viewer></dir-viewer>

    <form name="myForm" class='sizer'>

      <label for="mySelect">Select Your Size</label>
      <select id="mySelect" name="mySelect" ng-options = "option.price as option.size for option in img.options" ng-model="price">
      </select>

      <ngcart-addtocart id='{{img.name}}' name="{{img.name}}" price='{{price}}' quantity='1' quantity-max='5'> Add to Cart </ngcart-addtocart>

    </form>
  </div>




</div>
