<header class="head">

  <h1 class="title">{{home.name}}</h1>
  <h3 class="subtitle">Watercolor art by Beth Johansen</h3>
  <br>
  <nav>
    <div class='hamburger' ng-click='toggleClass()'>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class='clearfix menu'><h1>
      <li><a id='main navbar' ui-sref="contact">Contact Me</a></li>
      <li><a id='main navbar' ui-sref="about">About Me</a></li>
    </h1>

    <div ng-model="isUser" class = 'cart'>
      <div ng-hide='isUser'>
        <a href='/#/login' class = 'btn btn-default' >Login</a>
      </div>
      <div ng-show='isUser' ng-controller="logoutCtrl">
        <a ng-click='logout()' class="btn btn-default">Logout</a>

        <a ui-sref='cart' class = 'btn btn-default'><ngcart-summary></ngcart-summary></a>
      </div>
    </div>
  </nav>

  </ul>
</header>



<div class="userstuff">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Name</h3>
    </div>
    <div class="panel-body">
      {{user.name.firstName}} {{user.name.lastName}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Username</h3>
    </div>
    <div class="panel-body">
      {{user.username}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Email</h3>
    </div>
    <div class="panel-body">
      {{user.email}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Phone Number</h3>
    </div>
    <div class="panel-body">
      {{user.number}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Address</h3>
    </div>
    <div class="panel-body">
      {{user.address.street}}
    </div>
    <div class="panel-body">
      {{user.address.city}}, {{user.address.state}}
    </div>
    <div class="panel-body">
      {{user.address.zip}}
    </div>
  </div>
</div>
